:root {
    --main-color: rgb(52, 85, 98);
    --second-color: rgb(60, 110, 125);
    --light-color: rgb(147, 166, 174)
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

.space {
    height: 150px;
}

/*  navigation */
.navbar-brand img {
    width: 80%;
}


.navbar {
    background-color: var(--main-color);
}
/* end of navigation */

/* Banner */

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: scale 25s;
}

@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 40%;
    left: 15%;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
    line-height: 5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-size: 1.5rem;
    color: #fff;
    width: 90%;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    width: 13rem;
    height: 3rem;
    background-color: var(--main-color);
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

/* End of banner */

/*3 icons*/
.three-icon {
    width: 80%;
    position: relative;
    top: -50px;
}

.three-icon-1 {
    background-color: rgb(47, 47, 47);
    height: 360px;
}

.three-icon-2 {
    background-color: var(--second-color);
    height: 360px;
}

.three-icon-3 {
    background-color: rgb(200, 200, 200);
    height: 360px;
}

    /*end of 3 icons*/

/* About Us*/

.underline {
    width: 200px;
    height: 3px;
    background-color: var(--light-color);
}

/* End of about Us*/

/* map */
.map img {
    width: 100%;
}

.suburbs {
    font-size: 1.6rem;
    color: var(--second-color);
}
/* end of map */


/*textures*/
.texture_background {
    width: 90%;
    height: 150px;
    background-color: var(--second-color);
}

.gallery {

}

.floor-image {
    width: 280px;
}

.floor-image img {
    width: 100%;
}

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.heading:hover {
    opacity: 1;
}

.choose_color-btn {
    width: 25rem;
    padding: .7rem .5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(60, 63, 65);
    border: .1rem solid rgb(60, 63, 65);
    outline: none;
    cursor: pointer;
}

.btn-arrow {
    margin-left: .5rem;
}

.choose_color-btn:hover .btn-arrow {
    margin-left: 1.5rem;
    transition: margin-left .5s;
}
/* end of textures */

/* projects */

/*.material {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: visible;*/
/*    background-color: var(--main-color);*/
/*}*/

/*.images {*/
/*    position: relative;*/
/*    top: 50px;*/
/*    left: 50px;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/

/* project gallery*/



/*end of project gallery*/

/*contact form*/

.contact {
    width: 100%;
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    width: 60%;
    height: 35rem;
    display: flex;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
}

.contact-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url(images/Ice_White.jpg) center no-repeat;
    background-size: cover;
}
@media(max-width: 930px) {
    .contact-wrapper {
        width: 90%;
    }
}

.contact-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}


.contact-heading {
    font-size: 3rem;
    font-weight: 300;
    color: #272727;
    margin-bottom: 3rem;
    text-align: center;
}

@media(max-width: 600px) {
    .contact-left {
        display: none;
    }
    .contact-right {
        width: 100%;
    }

    .contact-heading {
        font-size: 2rem;
    }
}

.contact-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    width: 28rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem solid #636363;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
    color: #4b4b4b;
}

.input-group input {
    height: 3rem;
}

.input-group textarea {
    max-height: 7rem;
    max-width: 35rem;
}

.field:focus {
    border-bottom-style: solid;
}

.input-group label {
    position: absolute;
    left: 0;
    font-size: 1rem;
    color: #4b4b4b;
    padding-bottom: .7rem;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s;
}

.input-label {
    bottom: 2rem;
}

.message {
    bottom: 6rem;
}

.field:focus ~ label {
    transform: translateY(-1rem);
    font-size: 0.8rem;
}

.submit-btn {
    width: 80%;
    height: 3rem;
    background-color: var(--second-color);
    color: #fff;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
/*end of contact form*/



.icon-btn {
    right: 2rem;
    text-decoration: none;
    position: fixed;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    color: var(--second-color);
    background-color: #fff;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

.scroll-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}
.icon-btn-f {
    bottom: 6rem;
}
.icon-btn-i {
    bottom: 9rem;
}

/* end of footer */




